/* Timeline Element */

#AreaTopTimeline .timelineElement {
	position: absolute;
	height: 100%;
	background: var(--semi-transparent-fg-color);
	pointer-events: all;
	-moz-transition-duration: 0.2s;
    -moz-transition-property: bottom;
	-webkit-transition-duration: 0.2s;
    -webkit-transition-property: bottom;
    -o-transition-duration: 0.2s;
    -o-transition-property: bottom;
	transition-duration: 0.2s;
    transition-property: bottom;
}

#AreaTopTimeline .timelineElement.active {
	background: var(--primary-fg-color);
}

#AreaTopTimeline .timelineElement.highlighted {
	background: var(--primary-fg-color) !important;
	z-index: 100000;
}

#AreaTopTimeline.editable .timelineElement {
	background-color: var(--secondary-fg-color);
}

#AreaTopTimeline .timelineElement.brushed {
	background: var(--semi-transparent-fg-highlight-color);
}

#AreaTopTimeline .timelineElement.brushed.active, #AreaTopTimeline.editable .timelineElement.brushed {
	background-color: var(--primary-fg-color);
}

#AreaTopTimeline .timelineElement.ui-draggable:hover {
	cursor: move;
}

#AreaTopTimeline .timelineElement.ui-resizable .ui-resizable-handle {
	position: absolute;
	top: -2px;
	width: 3px;
	height: 100%;
	background-color: var(--primary-fg-color);
	border: 2px solid #000;
	border-radius: 3px;
	display: none;
}

#AreaTopTimeline .timelineElement.ui-resizable .ui-resizable-handle:hover {
	background-color: var(--primary-fg-color);
}

#AreaTopTimeline .timelineElement.ui-resizable .ui-resizable-handle.ui-resizable-ne {
	top: -2px;
	right: -2px;
	cursor: ne-resize;
}

#AreaTopTimeline .timelineElement.ui-resizable .ui-resizable-handle.ui-resizable-nw {
	top: -2px;
	left: -2px;
	cursor: nw-resize;
}

#AreaTopTimeline .timelineElement.ui-resizable .ui-resizable-handle.ui-resizable-se {
	bottom: -2px;
	right: -2px;
	cursor: se-resize;
}

#AreaTopTimeline .timelineElement.ui-resizable .ui-resizable-handle.ui-resizable-sw {
	bottom: -2px;
	left: -2px;
	cursor: sw-resize;
}

#AreaTopTimeline .timelineElement.ui-resizable:hover .ui-resizable-handle {
	display: block;
}

/* Tile Element */

#AreaTopTiles .tileElement {
	float: left;
	position: relative;
	width: 44px;
	height: 29px;
	margin: 3px 3px 3px 0;
	background-color: var(--semi-transparent-fg-color);
}

#AreaTopTiles .tileElement [class^="icon-"]::before, #AreaTopTiles .tileElement [class*=" icon-"]::before {
	font-size: 19px;
	width: 100%;
	margin: 0;
	color: var(--primary-bg-color);
	line-height: 30px;
}

#AreaTopTiles .tileElement:hover, #AreaTopTiles .tileElement.brushed {
	background-color: var(--semi-transparent-fg-highlight-color);
}

#AreaTopTiles .tileElement.active {
	background-color: var(--semi-transparent-fg-active-color);
}

#AreaTopTiles .tileElement.open {
	background-color: var(--primary-fg-color);
}

/* Content Element */

#AreaTopContainer .videolinkElement {
	background: var(--primary-bg-color);
    border: 1px solid var(--primary-fg-color);
    opacity: 1;
    height: 92%;
    left: 15%;
    position: absolute;
    top: 4%;
    width: 70%;
    z-index: 1;
    transition-property: opacity;
	transition-duration: 500ms;
	-moz-transition-property: opacity;
	-moz-transition-duration: 500ms;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 500ms;
	-o-transition-property: opacity;
	-o-transition-duration: 500ms;
}


#AreaTopContainer .videolinkElement.open {
	opacity: 1;
	z-index: 2;
}

#AreaTopContainer .videolinkElement iframe {
	width: 100%;
	height: 100%;
}

#AreaTopContainer .videolinkElement .videolinkAnchor {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 40px;
	padding: 0 10px;
	background-color: #f8f8f8;
	line-height: 38px;
	color: var(--primary-bg-color);
	text-decoration: none;
}

#AreaTopContainer .videolinkElement .videolinkAnchor:hover {
	text-decoration: underline;
}

/* Edit Videolink Properties */

#EditPropertiesContainer #VideolinkHref {
	width: 300px;
	border-color: transparent;
	background-color: transparent;
}

#EditPropertiesContainer #VideolinkHref:hover, #EditPropertiesContainer #VideolinkHref:focus {
	border-color: inherit;
	background-color: inherit;
}
