.resourceDetail[data-type="location"] {
	background-color: #B5D0D0;
}

.resourceThumb[data-type="location"] {
	background-image: url("icons/resourceThumb.png");
}

/* Annotation Tile */

.tileElement[data-type="location"] [class^="icon-"]::before, .tileElement[data-type="location"] [class*=" icon-"]::before {
    content: "\e8c8";
}

/* Edit Location Overlay Properties */

#EditPropertiesContainer .propertiesTypeIcon[data-type="location"] [class^="icon-"]::before, #EditPropertiesContainer .propertiesTypeIcon[data-type="location"] [class*=" icon-"]::before {
	content: "\e8c8";
}