#Sidebar {
	position: absolute;
	left: -164px;
	top: 0px;
	width: 164px;
	height: 100%;
	background-color: var(--primary-bg-color);
	color: #cececb;
	font-weight: 100;
	z-index: 2;
	box-shadow: 0 0 2px 1px #000;
	-webkit-transition: left 200ms linear; /* Firefox */
	-moz-transition: left 200ms linear; /* WebKit */
	-o-transition: left 200ms linear; /* Opera */
	transition: left 200ms linear; /* Standard */
}

#Sidebar.open {
	box-shadow: 0 0 2px 1px #000;
	left: 0px;
}

#Sidebar.editActive {
	background-color: #e0e3e6;
	color: var(--primary-bg-color);
	box-shadow: none;
	border-right: 1px solid #999;
}

.viewmodeControls button.editMode {
	display: block;
	position: relative;
	width: 100%;
	padding: 10px 6px 10px 41px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 7px center;
	background-size: 24px auto;
	border-top: 1px solid transparent;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid transparent;
	color: var(--primary-bg-color);
	opacity: .7;
}

.viewmodeControls button.editMode[data-editmode="preview"] {
	background-image: url('icons/menuItemPreview.dark.png');
}

.viewmodeControls button.editMode[data-editmode="overlays"], #EditPropertiesContainer[data-editmode="overlays"] {
	background-image: url('icons/menuItemOverlays.dark.png');
}

.viewmodeControls button.editMode[data-editmode="links"], #EditPropertiesContainer[data-editmode="links"] {
	background-image: url('icons/menuItemVideolinks.dark.png');
}

.viewmodeControls button.editMode[data-editmode="codesnippets"], #EditPropertiesContainer[data-editmode="codesnippets"] {
	background-image: url('icons/menuItemCodeSnippets.dark.png');
}

.viewmodeControls button.editMode[data-editmode="annotations"], #EditPropertiesContainer[data-editmode="annotations"] {
	background-image: url('icons/menuItemAnnotations.dark.png');
}

#SidebarContainer .viewmodeControls button.editMode  {
	display: none;
}

#SidebarContainer .viewmodeControls button.editMode.inEditMode  {
	display: block;
}

#SidebarContainer .viewmodeControls button.editMode.disabled  {
	pointer-events: none;
	opacity: .4;
}

#SidebarContainer .viewmodeControls button.editMode.unsavedChanges:before {
	content: "*";
	position: absolute;
	top: 6px;
	right: 10px;
	color: #FF9900;
	font-weight: bold;
	font-size: 20px;
}

.viewmodeControls button.editMode:hover {
	opacity: 1;
}

.viewmodeControls button.editMode.active {
	background-color: #F8F8F8;
	border-color: #999;
	opacity: 1;
	pointer-events: none;
}

.viewmodeControls button.editMode.active:after {
	content: "";
	position: absolute;
	top: 0px;
	right: -2px;
	width: 2px;
	height: 100%;
	background: #F8F8F8;
}

#SidebarContainer {
	display: block;
	margin-top: 40px;
}

#SidebarContainer > div {
	display: none;
}

#SidebarContainer > div.active {
	display: block;
}

#SidebarContainer .viewmodeInfo {
	padding: 10px;
	overflow: auto;
}

#SidebarContainer .descriptionLabel {
	margin-top: 10px;
	color: #919497;
}

#Sidebar.editActive #SidebarContainer .descriptionLabel {
	color: #777;
}

#SidebarContainer .descriptionDates {
	display: none;
}

#Sidebar.editActive #SidebarContainer .descriptionDates {
	/*display: block;*/
}

#SidebarContainer .viewmodeControls {
	position: relative;
	width: 100%;
}

#SidebarContainer .viewmodeControls .viewModeActionButtonContainer {
	padding: 10px;
	/*border-bottom: 1px solid #a8a8a8;*/
}

#SidebarContainer .viewmodeControls .viewModeActionButtonContainer button {
	float: left;
	height: 40px;
    margin-right: 8px;
    width: 40px;
	border: 2px solid #F8F8F8;
	border-radius: 50%;
	background-color: transparent;
	background-size: 18px auto;
	background-position: center;
	background-repeat: no-repeat;
	font-size: 0px;
}

#Sidebar.editActive #SidebarContainer .viewmodeControls .viewModeActionButtonContainer button {
	border-color: var(--primary-bg-color);
}

#SidebarContainer .viewmodeControls .viewModeActionButtonContainer button.unsavedChanges {
	border-color: #FF9900 !important;
	background-color: rgba(255, 153, 0, .15);
}

#SidebarContainer .viewmodeControls .saveButton {
	background-image: url("icons/save.png");
}

#SidebarContainer .viewmodeControls .exportButton {
	background-image: url("icons/export_light.png");
	display: none;
}

#Sidebar.editActive #SidebarContainer .viewmodeControls .exportButton {
	background-image: url("icons/export.png");
}