.resourceDetail[data-type="youtube"] {
	background-image: url("icons/resourceThumb.png");
}

/* Annotation Tile */

.tileElement[data-type="youtube"] [class^="icon-"]::before, .tileElement[data-type="youtube"] [class*=" icon-"]::before {
	content: "\f167";
}

/* Edit Youtube Overlay Properties */

#EditPropertiesContainer .propertiesTypeIcon[data-type="youtube"] [class^="icon-"]::before, #EditPropertiesContainer .propertiesTypeIcon[data-type="youtube"] [class*=" icon-"]::before {
	content: "\f167";
}