.resourceDetail {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: 100% 100%;
}

/* Resource Thumb */

.resourceThumb {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #929599;
	cursor: pointer;
}

.resourceThumb.dragPlaceholder {
	outline: 1px dashed var(--primary-bg-color);
	background: transparent;
}

.resourceThumb.dragPlaceholder .resourceOverlay, .resourceThumb.dragPlaceholder .resourceTitle {
	opacity: .2;
}

.resourceThumb.ui-draggable-dragging {
	outline: 1px solid #FF9919;
}

.resourceThumb.ui-draggable {
	cursor: move;
}

.resourceThumb .resourceOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(111, 123, 129, 0.4);
	background: -moz-radial-gradient(center, ellipse cover, rgba(86,94,110,0) 0%, rgba(86,94,110,0.7) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(86,94,110,0)), color-stop(100%,rgba(86,94,110,0.7)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(86,94,110,0) 0%,rgba(86,94,110,0.7) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(86,94,110,0) 0%,rgba(86,94,110,0.7) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(86,94,110,0) 0%,rgba(86,94,110,0.7) 100%);
	background: radial-gradient(ellipse at center, rgba(86,94,110,0) 0%,rgba(86,94,110,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00565e6e', endColorstr='#b3565e6e',GradientType=1 );
}

.resourceThumb .resourceOverlay .resourceIcon {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 26px;
	height: 16px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.resourceThumb .resourceOverlay .resourceIcon [class^="icon-"]::before, .resourceThumb .resourceOverlay .resourceIcon [class*=" icon-"]::before {
	font-size: 20px;
	color: var(--primary-fg-color);
	text-shadow: 1px 1px 3px var(--primary-bg-color);
}


.resourceThumb .resourceTitle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background-color: rgba(80, 80, 80, 0.8);
	font-size: 13px;
	padding: 6px 5px 3px 5px;
	color: var(--primary-fg-color);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.resourceThumb .resourcePreviewButton {
	position: absolute;
	bottom: 4px;
	left: 4px;
	z-index: 4;
	background-color: rgba(80, 80, 80, 0.8);
    border: 2px solid var(--primary-fg-color) ;
    border-radius: 50%;
    font-size: 0;
    height: 28px;
    width: 28px;
    display: none;
}

.resourceThumb .resourcePreviewButton [class^="icon-"]::before, .resourceThumb .resourcePreviewButton [class*=" icon-"]::before {
	font-size: 18px;
	width: 100%;
	margin: 0;
	line-height: 26px;
	color: var(--primary-fg-color);
}

.resourceThumb .resourcePreviewButton:hover {
	background-color: var(--primary-bg-color);
}

.resourceThumb:hover .resourcePreviewButton {
	display: block;
}

.resourceThumb.ui-draggable-dragging .resourcePreviewButton, .resourceThumb.resourceAnimationDiv .resourcePreviewButton {
	display: none;
}

/* Edit Overlay Properties */

#EditPropertiesContainer .controlsWrapper {
	width: 100%;
	height: 100%;
}

#EditPropertiesContainer #PreviewThumbContainer {
	float: right;
	height: 130px;
	width: 200px;
}

#EditPropertiesContainer #PreviewThumbContainer .resourceThumb {
	position: relative;
	width: 100%;
	height: 100%;
}

#EditPropertiesContainer .propertiesTypeIcon {
	background-position: left 3px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 28px;
    margin-bottom: 2px;
    width: 32px;
}

#EditPropertiesContainer .propertiesTypeIcon [class^="icon-"]::before, #EditPropertiesContainer .propertiesTypeIcon [class*=" icon-"]::before {
	font-size: 25px;
	margin-left: 0px;
	color: var(--primary-bg-color);
}

#EditPropertiesContainer .ui-spinner {
	border: 1px solid #afafaf;
    margin-right: 10px;
    padding: 2px;
    width: 53px;
    background: var(--primary-fg-color);
}

#EditPropertiesContainer .ui-spinner input {
	width: 31px;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}

#EditPropertiesContainer .ui-spinner .ui-spinner-button {
	background-color: rgba(47, 50, 58, .7);
}

#EditPropertiesContainer .ui-spinner .ui-spinner-button [class^="icon-"], #EditPropertiesContainer .ui-spinner .ui-spinner-button [class*=" icon-"] {
	overflow: visible;
	line-height: 14px;
}

#EditPropertiesContainer .ui-spinner .ui-spinner-button [class^="icon-"]::before, #EditPropertiesContainer .ui-spinner .ui-spinner-button [class*=" icon-"]::before {
	position: absolute;
	left: 0px;
	text-indent: 0;
	color: var(--primary-fg-color);
	font-size: 12px;
	line-height: 15px;
}


#EditPropertiesContainer .ui-spinner:hover {
	border-color: rgba(47, 50, 58, 1);
}

#EditPropertiesContainer .ui-spinner:hover .ui-spinner-button {
	background-color: rgba(47, 50, 58, .8);
}

#EditPropertiesContainer .ui-spinner .ui-spinner-button:hover {
	background-color: rgba(47, 50, 58, 1);
	cursor: pointer;
}

#EditPropertiesContainer #TimeControls {
	float: left;
	position: relative;
	width: 132px;
	overflow: hidden;
}

#EditPropertiesContainer #TimeControls label, #EditPropertiesContainer #TimeControls .ui-spinner {
	width: 120px;
	margin-bottom: 0px;
	display: block;
}

#EditPropertiesContainer #TimeControls .ui-spinner input {
	width: 100px;
	overflow: hidden;
}

#EditPropertiesContainer #TimeControls #DeleteOverlay, #EditPropertiesContainer #TimeControls #DeleteAnnotation {
	padding: 0 6px;
    position: absolute;
    right: 7px;
    top: 0;
}

#EditPropertiesContainer #PositionControls {
	float: left;
	position: relative;
	margin-bottom: 10px;
	width: 232px;
	height: 130px;
	background-image: url("icons/positionBackground.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	overflow: hidden;
}

#EditPropertiesContainer #PositionControls .ui-spinner[data-input-id="PositionTop"] {
	left: 31%;
    position: absolute;
    top: 8%;
}

#EditPropertiesContainer #PositionControls .ui-spinner[data-input-id="PositionLeft"] {
	left: 4%;
    position: absolute;
    top: 31.6%;
}

#EditPropertiesContainer #PositionControls .ui-spinner[data-input-id="PositionWidth"] {
	left: 52%;
    position: absolute;
    top: 72%;
}

#EditPropertiesContainer #PositionControls .ui-spinner[data-input-id="PositionHeight"] {
	left: 70%;
    position: absolute;
    top: 50%;
}

#EditPropertiesContainer #OverlayOptionsTabs {
	clear: both;
}

#EditPropertiesContainer #OpacitySlider {
	margin: 10px 5px;
	height: 6px;
	background: #cfcfcf;
}

#EditPropertiesContainer #OpacitySlider .ui-slider-range {
	background: rgba(47, 50, 58, .5);
}

#EditPropertiesContainer #OpacitySlider .ui-slider-handle {
	background: var(--primary-bg-color);
	height: 14px;
	width: 10px;
	margin-left: -5px;
}

#EditPropertiesContainer textarea {
	box-sizing: border-box;
    width: 100%;
}