.resourceDetail[data-type="wikipedia"] {
	
}

.resourceThumb[data-type="wikipedia"] {
	background-image: url("icons/resourceThumb.png");
}

/* Annotation Tile */

.tileElement[data-type="wikipedia"] [class^="icon-"]::before, .tileElement[data-type="wikipedia"] [class*=" icon-"]::before {
	content: "\f266";
}

/* Edit Wikipedia Overlay Properties */

#EditPropertiesContainer .propertiesTypeIcon[data-type="wikipedia"] [class^="icon-"]::before, #EditPropertiesContainer .propertiesTypeIcon[data-type="wikipedia"] [class*=" icon-"]::before {
	content: "\f266";
}