.userLoginOverlay {
	display: none;
}

.userLoginOverlay .loginBoxCancelButton {
	margin-left: 10px;
}

.userLoginOverlay .loginBoxTabButton.inactive {
	font-size: 17px;
	text-decoration: underline;
	cursor: pointer;
}

.userLoginOverlay .userTabRegister {
	display: none;
}

.ui-dialog[aria-describedby="loggedOutDialog"] {
	z-index: 100002;
}